.product-description {
  width: 32rem;
  margin: 0 auto;
}

.nav-go-back {
  padding: 4.8rem 0;
  display: flex;
  justify-content: space-between;
}

.btn-go-back {
  font-size: 3.2rem;
  text-decoration: none;
  background-color: #495567;
  color: #fff;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 4.8rem;
  height: 4.8rem;
}

.product-img {
  width: 32rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.product-title {
  font-size: 3.2rem;
  color: rgb(15, 15, 15);
  font-weight: 700;
}

.product-price-description {
  font-weight: 600;
  color: rgb(15, 15, 15);
}

.advantages-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.advantages-item img {
  background-color: #d1d4d9;
  border-radius: 50%;
  height: 6.4rem;
  padding: 0.8rem;
}

.product-add-to-cart {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  display: inline-block;
  text-decoration: none;
  padding: 2rem;
  color: #fff;
  border-radius: 10px;
  background-color: #509710;
}

.product-description {
  font-size: 1.8rem;
  line-height: 1.4;
  letter-spacing: 1.25px;
  margin-bottom: 1rem;
}

.product-description-warning {
  color: red;
  font-weight: 700;
}
